body {
    background-color: rgb(88, 88, 88);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 1000px;
    margin: 5px auto;
    background-color: grey;
    height: auto;
    margin-top: 150px;
}

.title {
    text-align: center;
    font-size: 52px;
    padding-top: 30px;
}

.mainPic {
    width: 600px;
    height: auto;
}

.menu {
    margin-left: 270px;
    width: 400px;
    height: 250px;
}

.picContainer {
    text-align: center;
}

.menu li {
    display: inline-block;
    width: 150px;
    height: 100px;
    text-align: center;
    background-color: grey;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
    border: solid 1px;
}

.menu li a {
    padding: 30px 0 0 0;
    margin: 0px;
    display: block;
    width: 100%;
    height: 70%;
    text-decoration: none;
    color: black;
}

.menu li a:hover {
    background-color: rgb(44, 70, 75);
    text-decoration: none;
    color: black;
}